:root {
  font-size: 0.52vw;
}

body {
  font-family: "Mariupol", sans-serif;
  font-weight: 400;
  color: #fff;
  background: url("../assets/noise-texture.png") repeat, #0e0e0e;
  position: relative;
}

.page-header {
  position: relative;
  width: 100%;
  height: 108rem;
  padding: 6.6rem 12rem 0 12rem;
}

.page-header-bg {
  position: absolute;
  z-index: -1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff3c02;
}

.page-header-bg-overlay {
  position: absolute;
  z-index: -500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e0e0e;
  background-size: cover;
  clip-path: polygon(0 0, 136rem 0, 6rem 100%, 0 100%);
}

.page-header-navbar {
  position: relative;
  height: 9.5rem;
  width: 100%;
  white-space: nowrap;
  vertical-align: middle;
}

.page-header-logo-box {
  display: inline-block;
}

.page-header-logo {
  margin-right: 2rem;
  height: 9.5rem;
}

.page-header-navbar .page-header-nav-links {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  margin-top: 3.25rem;
}

.page-header-navbar .page-header-nav-links li {
  display: inline-block;
  margin-left: 3rem;
}

.page-header-navbar .page-header-nav-links li a {
  padding: 1rem 0;
}

.page-header-navbar .page-header-nav-links li a:link,
.page-header-navbar .page-header-nav-links li a:visited {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.2rem;
  position: relative;
}

.page-header-navbar .page-header-nav-links:hover li:not(:hover) a::after {
  background-color: transparent;
}

.page-header-navbar .page-header-nav-links:hover li:not(:hover) a {
  color: #999999;
}

.page-header-navbar .page-header-nav-links:hover li.active:not(:hover) a::after {
  background-color: #9a7367;
}

.page-header-navbar .page-header-nav-links li:hover a::after,
.page-header-navbar .page-header-nav-links li.active a::after {
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #ff3c02;
}

.page-header-navbar .page-header-comm-links {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.page-header-navbar .page-header-comm-links li {
  display: inline-block;
  margin-left: 2rem;
  vertical-align: middle;
}

.page-header-navbar .page-header-comm-links .whatsapp,
.page-header-navbar .page-header-comm-links .viber {
  height: 3.6rem;
}

.page-header-navbar .page-header-comm-links .phone {
  height: 2.3rem;
}

.btn-header-phone:link,
.btn-header-phone:visited {
  white-space: nowrap;
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #fff;
  border-radius: 10rem;
  box-shadow: inset 0 0.1rem 0.7rem 0 rgba(132, 161, 202, 0.32);
  border: solid 0.1rem #689ce2;
  background: linear-gradient(to top, #156ee7, #44b8fb), linear-gradient(to top, #689ce2, #bed8fb);
  padding: 0.6rem 1rem 0.6rem 2.4rem;
  position: relative;
}

.btn-header-phone img {
  display: inline;
  vertical-align: middle;
  padding-bottom: 0.3rem;
}

.page-header-content-wrapper {
  margin-top: 3rem;
  position: relative;
  width: 100%;
}

.page-header-heading {
  line-height: 1;
  font-weight: 500;
  text-shadow: 0.07rem 0.07rem 0.1rem white;
  color: transparent;
  background-color: rgba(255, 155, 125, 0.8);
  -webkit-background-clip: text;
  background-clip: text;
}

.heading-text-line1 {
  display: block;
  font-size: 16.4rem;
  font-weight: 500;
}

.heading-text-line2 {
  display: block;
  font-size: 11rem;
  line-height: 10rem;
}

.heading-text-line3 {
  display: block;
  font-size: 8.7rem;
  font-weight: 500;
}

.page-header-text {
  margin-top: 3rem;
  width: 61rem;
  line-height: normal;
  font-size: 1.95rem;
  letter-spacing: 0.195rem;
  text-align: left;
}

.page-header-cta {
  margin-top: 8rem;
  width: 60rem;
  text-align: center;
}

.page-header-video-wrapper {
  position: absolute;
  top: 5rem;
  right: 11rem;
}

.page-header-video-cta {
  text-align: right;
}

.page-header-video-cta * {
  display: inline-block;
  vertical-align: middle;
}

.page-header-video-cta span {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-right: 3rem;
  line-height: 1;
  letter-spacing: 0.2rem;
}

.play-button-wrapper {
  background-image: linear-gradient(to top, #ff3c02, #ff815b);
  padding: 0.8rem;
  border-radius: 10rem;
  border: solid 0.3rem #ce2f00;
  position: relative;
}

.play-button-wrapper img {
  height: 6.9rem;
}

.play-button-wrapper::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10rem;
  transform: rotateZ(45deg);
  box-shadow: 0 0.6rem 0 rgba(255, 255, 255, 0.4), 0 0 3rem rgba(255, 255, 255, 0.6);
}

.play-button-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10rem;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent 40%);
  transform: rotateZ(45deg);
  box-shadow: inset 0 0.3rem 0 rgba(255, 255, 255, 0.4);
}

.page-header-video-player {
  margin-top: 4.2rem;
  position: relative;
}

.page-header-video-source-wrapper {
  position: relative;
  z-index: -501;
}

.page-header-video-source-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -0.36rem;
  left: 0;
  background: linear-gradient(to bottom, transparent, #36241e);
}

.page-header-video-source {
  object-fit: contain;
  width: calc(90.8rem);
}

.page-header-video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

.page-header-video-controls .play,
.page-header-video-controls .pause {
  display: inline-block;
  background: url("../assets/play icon.svg") no-repeat;
  width: 4rem;
  height: 4rem;
  margin-bottom: 2rem;
}

.page-header-video-controls .pause {
  opacity: 0;
  transform: rotateZ(90deg);
}

.page-header-video-controls:hover .pause,
.page-header-video-controls:hover .progress {
  opacity: 1;
}

.page-bg-proactor {
  position: absolute;
  z-index: -1;
  top: 95rem;
  left: 0;
}

.page-bg-proactor img {
  width: 192rem;
}

.page-section {
  padding: 18rem 12rem 9rem 12rem;
}

.page-section h2 {
  border: solid 0.2rem #fff;
  font-size: 8.5rem;
  font-weight: 500;
  letter-spacing: 0.85rem;
  color: #fff;
  line-height: 8.5rem;
  padding: 0 5rem 1.5rem 5rem;
  display: inline-block;
  position: relative;
}

.page-section h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3.2rem;
  height: 3.2rem;
  background: #ff3c02;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.plans {
  margin-top: 6.4rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.plan {
  background-color: #ff3c02;
  position: relative;
  padding: 10.5rem 4rem 7rem 4rem;
}

.plan::before {
  content: "";
  width: 9rem;
  height: 9rem;
  background: #000;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  position: absolute;
  bottom: 0;
  right: 0;
}

.plan::after {
  content: "";
  width: 4.4rem;
  height: 4.4rem;
  background: url("../assets/camera icon.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 1.8rem;
  left: 2.5rem;
}

.plan h3 {
  font-size: 4rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin: auto;
}

.plan img {
  display: block;
  height: 10.2rem;
  margin: auto;
}

.plan p {
  margin: 5.2rem auto 0 auto;
  width: 33rem;
  height: 17rem;
  font-size: 1.6rem;
  text-align: left;
  color: #ffffff;
}

.plan button {
  display: block;
  position: relative;
  margin: auto;
  border: none;
  font-size: 2.85rem;
  font-weight: 500;
  line-height: 1.16;
  text-align: center;
  color: #ffffff;
  background-color: #000;
  text-decoration: underline;
  text-transform: lowercase;
  padding: 1.5rem 3.6rem 1.7rem 3.6rem;
  box-shadow: -5.7px 5.7px 0 0 #0343f9;
}

.btn-rounded:link,
.btn-rounded:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 2.3rem;
  font-weight: 500;
  padding: 0.8rem 2.2rem;
  letter-spacing: 0.14px;
  text-align: center;
  border-radius: 10rem;
  text-transform: lowercase;
  margin: 0 3rem;
  position: relative;
}

.btn-rounded::before {
  content: "";
  position: absolute;
  top: -1.3rem;
  left: -1.3rem;
  height: calc(100% + 2.6rem);
  width: calc(100% + 2.6rem);
  border-radius: 10rem;
  z-index: -1;
}

.btn-rounded::after {
  content: "";
  opacity: 0.06;
  position: absolute;
  top: 0;
  left: 0;
  height: 200%;
  width: 100%;
  border-radius: 15%;
  background: linear-gradient(to bottom, transparent, #55464a 50%, transparent);
}

.btn-primary {
  color: #969696;
  background: linear-gradient(to top, #e7e3e1, #f4f1ec);
  text-shadow: -0.07rem 0.07rem 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 0.1rem 0.3rem 0 rgba(41, 35, 32, 0.3);
}

.btn-primary::before {
  box-shadow: -0.07rem 0.07rem 10.6rem 0 rgba(203, 216, 28, 0.64);
  background-image: linear-gradient(to top, #ccff02, #7cff9e);
}

.btn-secondary {
  color: #fff;
  background: transparent;
  box-shadow: 0 0.1rem 0.3rem 0 rgba(41, 35, 32, 0.3), inset 0 0.1rem 0.3rem 0 rgba(41, 35, 32, 0.2);
  border: solid 0.1rem #ff3c02;
}

.btn-secondary::before {
  border: solid 0.1rem rgba(255, 255, 255, 0.6);
}

.progress {
  position: absolute;
  bottom: 0.4rem;
  left: 0;
  opacity: 0;
  background-color: rgba(255, 60, 2, 0.8);
  height: 0.6rem;
  width: 0%;
}

/*# sourceMappingURL=index.css.map */
