@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
:root {
  font-size: 0.52vw;
}

body {
  font-family: "Mariupol", sans-serif;
  font-weight: 400;
  color: #fff;
  background: 20rem url("../assets/noise-texture.png"), #0e0e0e;
  position: relative;
}

.page-header {
  position: relative;
  width: 100%;
  height: 108rem;
  padding: 6.6rem 12rem 0 12rem;
}

.page-header-bg {
  position: absolute;
  z-index: -1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff3c02;
}

.page-header-bg-overlay {
  position: absolute;
  z-index: -500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e0e0e;
  background-size: cover;
  clip-path: polygon(0 0, 136rem 0, 6rem 100%, 0 100%);
}

.page-header-navbar {
  position: relative;
  height: 9.5rem;
  width: 100%;
  white-space: nowrap;
  vertical-align: middle;
}

.page-header-logo-box {
  display: inline-block;
}

.page-header-logo {
  margin-right: 2rem;
  height: 9.5rem;
}

.page-header-navbar .page-header-nav-links {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  margin-top: 3.25rem;
}

.page-header-navbar .page-header-nav-links li {
  display: inline-block;
  margin-left: 3rem;
}

.page-header-navbar .page-header-nav-links li a {
  padding: 1rem 0;
}

.page-header-navbar .page-header-nav-links li a:link,
.page-header-navbar .page-header-nav-links li a:visited {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.2rem;
  position: relative;
}

.page-header-navbar .page-header-nav-links:hover li:not(:hover) a::after {
  background-color: transparent;
}

.page-header-navbar .page-header-nav-links:hover li:not(:hover) a {
  color: #999999;
}

.page-header-navbar .page-header-nav-links:hover li.active:not(:hover) a::after {
  background-color: #9a7367;
}

.page-header-navbar .page-header-nav-links li:hover a::after,
.page-header-navbar .page-header-nav-links li.active a::after {
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #ff3c02;
}

.page-header-navbar .page-header-comm-links {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.page-header-navbar .page-header-comm-links li {
  display: inline-block;
  margin-left: 2rem;
  vertical-align: middle;
}

.page-header-navbar .page-header-comm-links .whatsapp,
.page-header-navbar .page-header-comm-links .viber {
  height: 3.6rem;
}

.page-header-navbar .page-header-comm-links .phone {
  height: 2.3rem;
}

.btn-header-phone:link,
.btn-header-phone:visited {
  white-space: nowrap;
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #fff;
  border-radius: 10rem;
  box-shadow: inset 0 0.1rem 0.7rem 0 rgba(132, 161, 202, 0.32);
  border: solid 0.1rem #689ce2;
  background: linear-gradient(to top, #156ee7, #44b8fb), linear-gradient(to top, #689ce2, #bed8fb);
  padding: 0.6rem 1rem 0.6rem 2.4rem;
  position: relative;
}

.btn-header-phone img {
  display: inline;
  vertical-align: middle;
  padding-bottom: 0.3rem;
}

.page-header-content-wrapper {
  margin-top: 3rem;
  position: relative;
  width: 100%;
}

.page-header-heading {
  line-height: 1;
  font-weight: 500;
  text-shadow: 0.07rem 0.07rem 0.1rem white;
  color: transparent;
  background-color: rgba(255, 155, 125, 0.8);
  -webkit-background-clip: text;
  background-clip: text;
}

.heading-text-line1 {
  display: block;
  font-size: 16.4rem;
  font-weight: 500;
}

.heading-text-line2 {
  display: block;
  font-size: 11rem;
  line-height: 10rem;
}

.heading-text-line3 {
  display: block;
  font-size: 8.7rem;
  font-weight: 500;
}

.page-header-text {
  margin-top: 3rem;
  width: 61rem;
  line-height: normal;
  font-size: 1.95rem;
  letter-spacing: 0.195rem;
  text-align: left;
}

.page-header-cta {
  margin-top: 8rem;
  width: 60rem;
  text-align: center;
}

.page-header-video-wrapper {
  position: absolute;
  top: 5rem;
  right: 11rem;
}

.page-header-video-cta {
  text-align: right;
}

.page-header-video-cta * {
  display: inline-block;
  vertical-align: middle;
}

.page-header-video-cta span {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-right: 3rem;
  line-height: 1;
  letter-spacing: 0.2rem;
}

.play-button-wrapper {
  background-image: linear-gradient(to top, #ff3c02, #ff815b);
  padding: 0.8rem;
  border-radius: 10rem;
  border: solid 0.3rem #ce2f00;
  position: relative;
}

.play-button-wrapper img {
  height: 6.9rem;
}

.play-button-wrapper::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10rem;
  transform: rotateZ(45deg);
  box-shadow: 0 0.6rem 0 rgba(255, 255, 255, 0.4), 0 0 3rem rgba(255, 255, 255, 0.6);
}

.play-button-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10rem;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent 40%);
  transform: rotateZ(45deg);
  box-shadow: inset 0 0.3rem 0 rgba(255, 255, 255, 0.4);
}

.page-header-video-player {
  margin-top: 4.2rem;
  position: relative;
}

.page-header-video-source-wrapper {
  position: relative;
  z-index: -501;
}

.page-header-video-source-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -0.36rem;
  left: 0;
  background: linear-gradient(to bottom, transparent, #36241e);
}

.page-header-video-source {
  object-fit: contain;
  width: calc(90.8rem);
}

.page-header-video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

.page-header-video-controls .play,
.page-header-video-controls .pause {
  display: inline-block;
  background: url("../assets/play icon.svg") no-repeat;
  width: 4rem;
  height: 4rem;
  margin-bottom: 2rem;
}

.page-header-video-controls .pause {
  opacity: 0;
  background: url("../assets/stop icon.svg") no-repeat;
}

.page-header-video-player:hover .page-header-video-controls .pause,
.page-header-video-player:hover .page-header-video-controls .progress {
  opacity: 1;
}

.page-bg-proactor {
  position: absolute;
  z-index: -1;
  top: 95rem;
  left: 0;
}

.page-bg-proactor img {
  width: 192rem;
}

.page-section {
  padding: 18rem 12rem 9rem 12rem;
}

.page-section h2 {
  border: solid 0.2rem #fff;
  font-size: 8.5rem;
  font-weight: 500;
  letter-spacing: 0.85rem;
  color: #fff;
  line-height: 8.5rem;
  padding: 0 5rem 1.5rem 5rem;
  display: inline-block;
  position: relative;
}

.page-section h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3.2rem;
  height: 3.2rem;
  background: #ff3c02;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.plans {
  margin-top: 6.4rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.plan {
  background-color: #ff3c02;
  position: relative;
  padding: 10.5rem 4rem 7rem 4rem;
  text-align: center;
}

.plan::before {
  content: "";
  width: 9rem;
  height: 9rem;
  background: #000;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  position: absolute;
  bottom: 0;
  right: 0;
}

.plan::after {
  content: "";
  width: 4.4rem;
  height: 4.4rem;
  background: url("../assets/camera icon.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 1.8rem;
  left: 2.5rem;
}

.plan h3 {
  font-size: 4rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin: auto;
  line-height: normal;
}

.plan img {
  display: block;
  height: 10.2rem;
  margin: 3rem auto 0 auto;
}

.plan p {
  margin: 5.2rem auto 0 auto;
  width: 33rem;
  height: 17rem;
  font-size: 1.6rem;
  text-align: left;
  color: #ffffff;
}

.portfolio {
  padding-top: 6rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.portfolio-item {
  width: 73.7rem;
  position: relative;
  margin-bottom: 12.8rem;
}

.portfolio-item::before {
  content: "";
  position: absolute;
  height: 10rem;
  width: 10rem;
  background: #ff3c02;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  top: 0;
  left: 0;
}

.portfolio-item img {
  z-index: -1;
  width: 100%;
  display: block;
  position: relative;
  filter: grayscale(100%);
}

.portfolio-item:hover img {
  filter: grayscale(0%);
}

.portfolio-item article {
  margin-top: -6rem;
  border: solid 0.2rem #fff;
  margin: -6rem 2.4rem 0 2.4rem;
  background: rgba(25, 25, 25, 0.5);
}

.portfolio-item article h3 {
  border-bottom: solid 0.2rem #fff;
  line-height: 6rem;
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
  color: #fff;
  padding: 0 1.6rem;
}

.portfolio-item article p {
  font-size: 1.7rem;
  text-align: justify;
  line-height: 1.2;
  padding: 0 2rem;
  color: #e7e7e7;
}

.portfolio-item article footer {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.portfolio-item article footer a:link,
.portfolio-item article footer a:visited {
  font-size: 2.2rem;
  color: #1348df;
  letter-spacing: 0.22rem;
}

.portfolio-item article footer span {
  font-size: 1.4rem;
}

.all-events-link {
  display: block;
  margin: 2rem 0;
  text-align: center;
}

.all-events-link a:link,
.all-events-link a:visited {
  display: inline-block;
  font-size: 5.3rem;
  font-weight: 500;
  letter-spacing: 0.53rem;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.all-events-link a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.7rem;
  top: 50%;
  left: 0;
  background-color: #ff3c02;
  z-index: -1;
}

.huge-red-cta {
  padding: 18rem 12rem 20rem 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff3c02;
  clip-path: polygon(0 0, 100% 12rem, 100% 100%, 0 calc(100% - 12rem));
}

.huge-red-cta h2 {
  display: inline-block;
  font-size: 7.1rem;
  font-weight: 500;
  letter-spacing: 0.85rem;
  color: #fff;
  line-height: 8.5rem;
  padding: 0 5rem 1.5rem 5rem;
  position: relative;
  width: 70rem;
}

.btn-huge-red-cta {
  display: inline-block;
  position: relative;
  font-size: 8rem;
  font-weight: 500;
  padding: 1.5rem 8rem 1.7rem 8rem;
  margin-right: 40rem;
  text-decoration: none;
}

.btn-more {
  display: inline-block;
  position: relative;
  font-size: 2.85rem;
  font-weight: 500;
  line-height: 1.16;
  padding: 1.5rem 3.6rem 1.7rem 3.6rem;
}

.btn-black-blue {
  text-decoration: underline;
  text-transform: lowercase;
  text-align: center;
  color: #ffffff;
  background-color: #000;
  box-shadow: -0.57rem 0.57rem 0 0 #0343f9;
}

.about-proactor article {
  margin-top: 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.about-proactor article p {
  width: 90rem;
  font-size: 2.3rem;
  text-align: left;
}

.about-proactor article p .delimeter {
  background-color: #ff3c02;
  width: 8rem;
  height: 1rem;
  display: block;
  margin-top: 1.6rem;
}

.about-proactor article img {
  height: 36rem;
  margin-right: 15rem;
}

.partners-logos {
  margin-top: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-logos img {
  margin: 0 8rem;
  filter: grayscale(100%);
}

.partners-logos img:hover {
  filter: none;
}

.bs-logo {
  height: min(14.8rem, 148px);
}

.nvrsk-logo {
  height: min(15.2rem, 152px);
}

.wr-logo {
  height: min(5.3rem, 53px);
}

.btn-rounded:link,
.btn-rounded:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 2.3rem;
  font-weight: 500;
  padding: 0.8rem 2.2rem;
  letter-spacing: 0.14rem;
  text-align: center;
  border-radius: 10rem;
  text-transform: lowercase;
  margin: 0 3rem;
  position: relative;
}

.btn-rounded::before {
  content: "";
  position: absolute;
  top: -1.3rem;
  left: -1.3rem;
  height: calc(100% + 2.6rem);
  width: calc(100% + 2.6rem);
  border-radius: 10rem;
  z-index: -1;
}

.btn-rounded::after {
  content: "";
  opacity: 0.06;
  position: absolute;
  top: 0;
  left: 0;
  height: 200%;
  width: 100%;
  border-radius: 15%;
  background: linear-gradient(to bottom, transparent, #55464a 50%, transparent);
}

.btn-primary {
  color: #969696;
  background: linear-gradient(to top, #e7e3e1, #f4f1ec);
  text-shadow: -0.07rem 0.07rem 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 0.1rem 0.3rem 0 rgba(41, 35, 32, 0.3);
}

.btn-primary::before {
  box-shadow: -0.07rem 0.07rem 10.6rem 0 rgba(203, 216, 28, 0.64);
  background-image: linear-gradient(to top, #ccff02, #7cff9e);
}

.btn-secondary {
  color: #fff;
  background: transparent;
  box-shadow: 0 0.1rem 0.3rem 0 rgba(41, 35, 32, 0.3), inset 0 0.1rem 0.3rem 0 rgba(41, 35, 32, 0.2);
  border: solid 0.1rem #ff3c02;
}

.btn-secondary::before {
  border: solid 0.1rem rgba(255, 255, 255, 0.6);
}

.progress {
  position: absolute;
  bottom: 0.4rem;
  left: 0;
  opacity: 0;
  background-color: rgba(255, 60, 2, 0.8);
  height: 0.6rem;
  width: 0%;
}

.blinking-cursor {
  margin-left: 0.3rem;
  padding-left: 4rem;
  display: inline;
  background-color: #fff;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.page-footer {
  display: flex;
  background-color: rgba(14, 14, 14, 0.3);
  flex-flow: row wrap;
  margin-top: 11rem;
}

.page-footer section {
  padding: 6.8rem 2rem;
  border: 0.1rem solid #e3e3e3;
  flex-grow: 1;
  border-left: none;
  border-right: none;
}

.page-footer section:not(:first-child) {
  border-left: 0.1rem solid #e3e3e3;
}

.footer-logo {
  display: inline-block;
  height: 16.7rem;
  background-color: #000;
}

.page-footer .footer-contacts {
  text-align: center;
  padding-left: 6.8rem;
}

.footer-contacts address {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 400;
  font-style: normal;
  vertical-align: top;
  margin-left: 9rem;
  text-align: left;
}

.footer-contacts address h3 {
  margin-bottom: 2.9rem;
}

.footer-contacts a:link,
.footer-contacts a:visited {
  text-decoration: none;
  color: #fff;
}

.footer-contacts a:hover {
  text-decoration: underline;
}

ul.footer-social {
  margin-top: 6rem;
}

.footer-social li {
  display: inline-block;
  margin-right: min(33px, 3.3rem);
}

.footer-social li img {
  height: 5.2rem;
  max-height: 52px;
}

.page-footer .footer-feedback {
  text-align: center;
  font-size: 2.1rem;
  color: #555555;
  padding-left: 6.8rem;
  padding-right: 6.8rem;
}

.feedback-title {
  margin: auto;
  text-align: center;
  font-size: 2.4rem;
  color: #ff3c02;
}

.btn-squared {
  display: block;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 1.5rem;
}

.btn-squared:link,
.btn-squared:visited {
  text-decoration: none;
}

.btn-squared.btn-secondary {
  background-color: #ff3c02;
  color: #fff;
  text-transform: uppercase;
}

.btn-squared.btn-primary {
  background-color: #fff;
  color: #524d4b;
  border: solid 0.1rem #e3e3e3;
}

.footer-feedback .btn-squared .phone {
  height: 3.4rem;
  vertical-align: middle;
  display: inline-block;
  margin-right: 1.5rem;
}

.footer-sitemap {
  font-size: 2.1rem;
  color: #fff;
  line-height: 2.36;
}

.footer-sitemap nav {
  display: inline-block;
  vertical-align: top;
}

.footer-sitemap nav {
  margin-left: 12rem;
}

.footer-sitemap h4 {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: bold;
}

.footer-sitemap a:link,
.footer-sitemap a:visited {
  color: #fff;
  text-decoration: none;
}

.page-footer .very-footer {
  border: none !important;
  font-size: 1.6rem;
  color: #888888;
  line-height: 2.29;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 12rem;
}

.btn-up {
  color: #f8f8f8;
  font-size: 1.9rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.3;
}

.btn-up:hover {
  opacity: 1;
}

.btn-up:link,
.btn-up:visited {
  text-decoration: none;
}

.btn-up img {
  margin-left: auto;
  margin-right: auto;
  height: 1.8rem;
  filter: invert(100%);
  opacity: 0.3;
}

.btn-up:hover img {
  opacity: 1;
}

.top-genius-logo {
  display: inline-block;
  vertical-align: middle;
  height: min(2.7rem, 27px);
}

/*# sourceMappingURL=index.css.map */
