$big-desktop-width: 198rem;
$norm-desktop-width: 160rem;
$small-desktop-width: 102.4rem;
$tablet-width: 76.8rem;
$phone-width: 48rem;

$font-stack: "Mariupol", sans-serif;

$background-color: #0e0e0e;
$primary-color: #fff;
$secondary-color: #ff3c02;

$content-padding-h: 12rem;
$content-padding-t: 6.6rem;

$page-header-bg-cutoff-h: 136rem;
$page-header-bg-cutoff-ratio: $page-header-bg-cutoff-h / $big-desktop-width;

$btn-outside-size-increase: 1.3rem;

:root {
	font-size: 62.5%;
}

body {
	font-family: $font-stack;
	font-weight: 400;
	color: $primary-color;
	background: $background-color;
	position: relative;
}

.page-header {
	position: relative;
	width: 100%;
	height: 108rem;
	padding: $content-padding-t $content-padding-h 0 $content-padding-h;
}

.page-header-bg {
	position: absolute;
	z-index: -1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $secondary-color;
}

.page-header-bg-overlay {
	position: absolute;
	z-index: -500;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $background-color;
	background-size: cover;
	clip-path: polygon(
		0 0,
		$page-header-bg-cutoff-h 0,
		#{$content-padding-h / 2} 100%,
		0 100%);
}

.page-header-navbar {
	position: relative;
	height: 9.5rem;
	width: 100%;
	white-space: nowrap;
	vertical-align: middle;
}

.page-header-logo-box {
	display: inline-block;
}

.page-header-logo {
	margin-right: 2rem;
}

.page-header-nav-links {
	display: inline-block;
	white-space: nowrap;
	vertical-align: top;
}

.page-header-nav-links li {
	display: inline-block;
	margin-left: 3rem;
	line-height: 9.5rem;
}

.page-header-nav-links li a:link,
.page-header-nav-links li a:visited {
	font-size: 2rem;
	color: $primary-color;
	text-decoration: none;
	letter-spacing: .2rem;
	position: relative;
}

.page-header-nav-links li a:hover::after {
	position: absolute;
	left: 0;
	bottom: -.3rem;
	content: "";
	width: 100%;
	height: .2rem;
	background-color: $secondary-color;
}

.page-header-comm-links {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	display: block;
}

.page-header-comm-links li {
	display: inline-block;
	margin-left: 2rem;
	vertical-align: middle;
}

.btn-header-phone:link,
.btn-header-phone:visited {
	white-space: nowrap;
	text-decoration: none;
	font-size: 2rem;
	letter-spacing: .2rem;
	color: $primary-color;
	border-radius: 10rem;
	box-shadow: inset 0 .1rem .7rem 0 rgba(132, 161, 202, 0.32);
	border: solid .1rem #689ce2;
	background: linear-gradient(to top, #156ee7, #44b8fb), linear-gradient(to top, #689ce2, #bed8fb);
	padding: .6rem 1rem .6rem 2.4rem;
	position: relative;
}

.btn-header-phone img {
	display: inline;
	vertical-align: middle;
	padding-bottom: .3rem;
}

.page-header-heading {
	margin-top: 3rem;
	line-height: 1;
	font-weight: 500;
	text-shadow: .07rem .07rem .1rem rgba(255, 255, 255, 1);
	color: transparent;
	background-color: rgba(255, 155, 125, 0.8);
	-webkit-background-clip: text;
	background-clip: text;
}

.heading-text-line1 {
	display: block;
	font-size: 16.4rem;
	font-weight: 500;
}

.heading-text-line2 {
	display: block;
	font-size: 11rem;
	line-height: 10rem;
}

.heading-text-line3 {
	display: block;
	font-size: 8.7rem;
	font-weight: 500;
}

.page-header-text {
	margin-top: 3rem;
	width: 61rem;
	line-height: normal;
	font-size: 1.95rem;
	letter-spacing: 0.195rem;
	text-align: left;
}

.page-header-cta {
	margin-top: 8rem;
	width: 60rem;
	text-align: center;
}

.btn-rounded:link,
.btn-rounded:visited {
	text-decoration: none;
	display: inline-block;
	font-size: 2.3rem;
	font-weight: 500;
	padding: 0.8rem 2.2rem;
	letter-spacing: .14px;
	text-align: center;
	border-radius: 10rem;
	text-transform: lowercase;
	margin: 0 3rem;
	position: relative;
}

.btn-rounded::before {
	content: "";
	position: absolute;
	top: -$btn-outside-size-increase;
	left: -$btn-outside-size-increase;
	height: calc(100% + #{$btn-outside-size-increase * 2});
	width: calc(100% + #{$btn-outside-size-increase * 2});
	border-radius: 10rem;
	z-index: -1;
}

.btn-rounded::after {
	content: "";
	opacity: .06;
	position: absolute;
	top: 0;
	left: 0;
	height: 200%;
	width: 100%;
	border-radius: 15%;
	background: linear-gradient(to bottom, transparent, rgb(85, 70, 74) 50%, transparent);
}

.btn-primary {
	color: #969696;
	background: linear-gradient(to top, #e7e3e1, #f4f1ec);
	text-shadow: -.07rem .07rem 0 rgba(255, 255, 255, 0.75);
	box-shadow: 0 .1rem .3rem 0 rgba(41, 35, 32, 0.3);
}

.btn-primary::before {
	box-shadow: -.07rem .07rem 10.6rem 0 rgba(203, 216, 28, 0.64);
  	background-image: linear-gradient(to top, #ccff02, #7cff9e);
}

.btn-secondary {
	color: $primary-color;
	background: transparent;
	box-shadow: 
		0 .1rem .3rem 0 rgba(41, 35, 32, 0.3),
		inset 0 .1rem .3rem 0 rgba(41, 35, 32, 0.2);
	border: solid .1rem $secondary-color;
}

.btn-secondary::before {
	border: solid .1rem rgba(255, 255, 255, 0.6);
}