$big-desktop-width: 1980px;
$norm-desktop-width: 1600px;
$small-desktop-width: 1024px;
$tablet-width: 768px;
$phone-width: 480px;

$font-stack: "Mariupol", sans-serif;

$background-color: #0e0e0e;
$primary-color: #fff;
$secondary-color: #ff3c02;

$content-padding-h: 6.25vw;
$content-padding-t: 66px;

$page-header-bg-cutoff: 1280px;
$page-header-bg-cutoff-ratio: $page-header-bg-cutoff / $big-desktop-width;

$btn-outside-size-increase: 13px;

body {
	font-family: $font-stack;
	font-weight: 400;
	font-size: 1.4rem;
	color: $primary-color;
	background: $background-color;
	position: relative;
	overflow-x: hidden;
}

.page-header {
	position: relative;
	width: 100vw;
	height: 100vh;
	min-height: 1080px;
	padding: $content-padding-t $content-padding-h 0 $content-padding-h;
}

.page-header-bg {
	position: absolute;
	z-index: -1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $secondary-color;
}

.page-header-bg-overlay {
	position: absolute;
	z-index: -500;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $background-color;
	background-size: cover;
	clip-path: polygon(
		0 0,
		$page-header-bg-cutoff 0,
		#{$content-padding-h / 2} 100%,
		0 100%);
}

.page-header-navbar {
	position: relative;
	height: 95px;
}

.page-header-logo {
	height: 100%;
}

.page-header-heading {
	margin-top: 30px;
	line-height: 1;
	font-weight: 500;
	text-shadow: 0.7px 0.7px 1px rgba(255, 255, 255, 1);
	color: transparent;
	background-color: rgba(255, 155, 125, 0.8);
	-webkit-background-clip: text;
	background-clip: text;
}

.heading-text-line1 {
	display: block;
	font-size: 9rem;
	font-weight: 500;
}

.heading-text-line2 {
	display: block;
	font-size: 6.33rem;
}

.heading-text-line3 {
	display: block;
	font-size: 5rem;
	font-weight: 500;
}

.page-header-text {
	margin-top: 30px;
	width: 37.5rem;
	line-height: normal;
	font-size: 1rem;
	letter-spacing: 0.2rem;
	line-height: 1.3;
	text-align: left;
}

.page-header-cta {
	margin-top: 88px;
	width: 37.5rem;
	text-align: center;
}

.btn-rounded:link,
.btn-rounded:visited {
	text-decoration: none;
	display: inline-block;
	font-size: 1.4375rem;
	font-weight: 500;
	padding: 0.8rem 2.2rem;
	letter-spacing: 1.38px;
	text-align: center;
	border-radius: 100px;
	text-transform: lowercase;
	margin: 0 30px;
	position: relative;
}

.btn-rounded::before {
	content: "";
	position: absolute;
	top: -$btn-outside-size-increase;
	left: -$btn-outside-size-increase;
	height: calc(100% + #{$btn-outside-size-increase * 2});
	width: calc(100% + #{$btn-outside-size-increase * 2});
	border-radius: 100px;
	z-index: -1;
}

.btn-rounded::after {
	content: "";
	opacity: .06;
	position: absolute;
	top: 0;
	left: 0;
	height: 200%;
	width: 100%;
	border-radius: 15%;
	background: linear-gradient(to bottom, transparent, rgb(85, 70, 74) 50%, transparent);
}

.btn-primary {
	color: #969696;
	background: linear-gradient(to top, #e7e3e1, #f4f1ec);
	text-shadow: -0.7px 0.7px 0 rgba(255, 255, 255, 0.75);
	box-shadow: 0px 1px 3px 0 rgba(41, 35, 32, 0.3);
}

.btn-primary::before {
	box-shadow: -0.7px 0.7px 106px 0 rgba(203, 216, 28, 0.64);
  	background-image: linear-gradient(to top, #ccff02, #7cff9e);
}

.btn-secondary {
	color: $primary-color;
	background: transparent;
	box-shadow: 
		0px 1px 3px 0 rgba(41, 35, 32, 0.3),
		inset 0px 1px 3px 0 rgba(41, 35, 32, 0.2);
	border: solid 1px $secondary-color;
}

.btn-secondary::before {
	border: solid 1px rgba(255, 255, 255, 0.6);
}

// SMALLER SCREENS

@media screen and (max-width: $norm-desktop-width) {
	$screen-width-displacement: $big-desktop-width - $norm-desktop-width;
	.page-header-bg-overlay {	
		clip-path: polygon(
			#{-$screen-width-displacement} 0,
			#{$norm-desktop-width * $page-header-bg-cutoff-ratio} 0,
			calc(#{$content-padding-h / 2} - #{$screen-width-displacement}) 100%,
			#{-$screen-width-displacement} 100%);
	}

	.heading-text-line1 {
		display: block;
		font-size: 7rem;
		font-weight: 500;
	}
	
	.heading-text-line2 {
		display: block;
		font-size: 5rem;
	}
	
	.heading-text-line3 {
		display: block;
		font-size: 3.95rem;
		font-weight: 500;
	}

	.page-header-text {
		margin-top: 30px;
		width: 28rem;
	}

	.page-header-cta {
		margin-top: 50px;
		width: 28rem;
	}

	.btn-rounded:link,
	.btn-rounded:visited {
		font-size: 1.2rem;
		padding: 0.6rem 1.8rem;
		margin: 0 20px;
	}
}

@media screen and (max-width: $small-desktop-width) {

	.heading-text-line1 {
		display: block;
		font-size: 6.5rem;
		font-weight: 500;
	}
	
	.heading-text-line2 {
		display: block;
		font-size: 4.5rem;
	}
	
	.heading-text-line3 {
		display: block;
		font-size: 3.55rem;
		font-weight: 500;
	}

	.page-header-text {
		display: none;
	}

	.page-header-cta {
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	.btn-rounded:link,
	.btn-rounded:visited {
		font-size: 1.2rem;
		padding: 0.6rem 1.8rem;
		margin: 0 6vw 6vh 6vw;
	}
}

// MOBILE

$m-content-padding-h: 8px;
$m-content-padding-t: 40px;
$m-navbar-padding: 0 11px;

@media screen and (max-width: $tablet-width) {
	.page-header {
		height: max(1200px, 100vh);
		padding: $m-content-padding-t $m-content-padding-h 0 $m-content-padding-h;
	}
	// -320px 0
	// 983px 0
	// -320px 100%
	// 0 100%
	.page-header-bg-overlay {	
		clip-path: polygon(
			0 0,
			calc(956px - #{$tablet-width} + 100vw) 0,
			calc(-500px - #{$tablet-width} + 100vw) 100%);
	}

	.page-header-navbar {
		margin: $m-navbar-padding;
		height: 106px;
	}

	.page-header-heading {
		margin-top: 102px;
	}

	.heading-text-line1 {
		display: block;
		font-size: 4.5rem;
		font-weight: 500;
	}
	
	.heading-text-line2 {
		display: block;
		font-size: 4rem;
	}
	
	.heading-text-line3 {
		display: block;
		font-size: 3.7rem;
		font-weight: 500;
	}
}

@media screen and (max-width: $phone-width) {

	.page-header-heading {
		margin-top: 60px;
	}

	.heading-text-line1 {
		display: block;
		font-size: 3rem;
		font-weight: 500;
	}
	
	.heading-text-line2 {
		display: block;
		font-size:  2.8rem;
	}
	
	.heading-text-line3 {
		display: block;
		font-size: 2.23rem;
		font-weight: 500;
	}

	.btn-rounded:link,
	.btn-rounded:visited {
		font-size: 1.2rem;
		padding: 0.6rem 1.8rem;
		display: block;
		width: 50vw;
		min-width: 200px;
		margin: 0 auto 6vh auto;
	}
}